{% comment %} NavBar {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand ms-5" href="/home/">Farmer Friend Admin</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="/crops/">Crops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="">Marketing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="">Schemes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="">Weather</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="">Machines</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="">News</a>
                </li>
            </ul>
        </div>
        <a href="/" class="btn btn-outline-light mx-5">Logout</a>
    </div>
</nav>